.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.375rem;
    border-bottom: 1px solid #e6e6e6;
}
.Title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #1a1a1a;
}
.Body {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}
.Category {
    padding: 1.875rem 0 1rem;
    padding-inline-start: 1rem;
    font-size: 1.875rem;
    font-weight: 500;
    color: #222;
}
.Result {
    padding-top: 2.5rem;
}
.About {
    font-size: 1rem;
    white-space: pre-wrap;
    color: #222;
    padding-bottom: 1.875rem;
    padding-inline-start: 1rem;
}
.Products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 1024px) {
    .Body {
        width: 96%;
    }
}

@media (min-width: 1600px) {
    .Body {
        width: 70%;
    }
}

.anchor_link { color: transparent; text-decoration: none; }
.anchor_link:hover { color: #ddd; transition: color .2s ease-in-out; }
