.Cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    height: 100%;
}
.Bg {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 2%;
}
.Body {
    padding-top: 13rem;
    flex-grow: 1;
    width: 50%;
    margin: 0 auto;
}
.Title {
    color: #222222;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.875rem;
}
@media (max-width: 1024px) {
    .Body {
        width: 90%;
        padding-top: 6rem;
    }
    .Title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}
@media (max-width: 1375px) {
    .Body {
        width: 80%;
    }
}
