.Footer {
    margin-top: 1rem;
    border-top: 1px solid #e6e6e6;
}
.Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 9.75rem;
    margin: 0 auto;
}
.Logo {
    width: 8.5rem;
}
.C_r small {
    font-size: 0.875rem;
    color: #252525;
}
.Pay {
    height: 2rem;
}
@media (max-width: 1024px) {
    .Logo {
        width: 5rem;
    }
    .Pay {
        height: 1rem;
    }
    .C_r small {
        font-size: 0.625rem;
    }
    .Wrap {
        height: auto;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    .Wrap {
        height: 6rem;
    }
    .Logo {
        width: 5.5rem;
    }

}
@media (min-width: 1600px) {
    .Wrap {
        width: 70%;
    }
}
